@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin-top: 15%;
  font-size: 350%;
}

.filters select {
  width:25% ;
  height:35px;
  margin-right: 1%;
}

.filters p {
  float:left;
  color: black;
  margin-right: 1%;
}

.filters #removeFilter {
  cursor: pointer;
}

.filters #removeFilter:hover {
  transition: 0.7s;
  transform: scale(1.1);
  color: rgb(233, 32, 32);
}

.containerProduct{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

/*Styles for product card*/

.product .product-card{
  z-index: 1;
  background: none;
  position: relative;
  width: 300px;
  height: 450px;
  margin: 40px;
  border-radius: 10px;
  flex:1 1 45rem;
  border: 3px solid #826251;
  box-shadow: 0 0 50px #826251;
}

.product .product-card:hover{
  transition: 1.5s;
  transform: scale(1.02);
}

.product .product-card:before{
  content: '';
  background: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .product-card .product-img{
  z-index: 1;
  position: absolute;
  max-width: 230px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product .product-card .name{
  z-index: 2;
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 25px;
  letter-spacing: 1px;
}

.product .product-card .price{
  z-index: 2;
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  font-size: 40px;
  font-weight: bold;
}

.product .product-card .popup-btn{
  z-index: 2;
  color: #fff;
  background: #568EA3;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.product .product-card .popup-btn:hover{
  transition: 1s;
  transform: translateX(-50%) scale(1.03);
}

/*Styles for popup view*/

.product .popup-view{
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.product .popup-view.active{
  opacity: 1;
  visibility: visible;
}

.product .popup-card{
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
  
}

.product .popup-card .product-img{
  z-index: 2;
  background: #1D212B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.product .popup-card .product-img img{
  z-index: 2;
  position: relative;
  width: 200px;
  cursor: pointer;
}

.product .popup-card .product-img img:hover{
  transition: 1s;
  transform: scale(1.02);;
}

.product .popup-card .info{
  z-index: 2;
  background: #ffd7ba;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
  
}

.product .popup-card .close-btn{
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  margin-right: 35px;
  cursor: pointer;
}

.product .popup-card .close-btn:hover{
  color: white;
}

.product .popup-card .info h2{
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.product .popup-card .info h2 span{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product .popup-card .info p{
  font-size: 17px;
  margin: 10px;
  color: black;
}

.product .popup-card .info .price{
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
}

.product .popup-card .info .add-cart-btn{
  color: #fff;
  background: #009DD2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.product .popup-card .info .add-wish{
  color: #009DD2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.star {
  display: flex;
  float: left;
  cursor: pointer;
  font-size: 200%;
}

.product .popup-card .info .add-cart-btn:hover, .star:hover {
  transition: 0.5s;
  transform: translateX(5px);
}

.checked {
  color: orange;
}

/*Responsive styles*/

@media (max-width: 900px){

  .product .popup-card{
    flex-direction: column;
    margin-left: 10%;
    width: 500px;
    height: auto;
  }

  .product .popup-card .product-img{
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product .popup-card .product-img img{
    left: initial;
    max-width: 100%;
  }

  .product .popup-card .info{
    width: 100%;
    height: auto;
    padding: 20px;
    left: -4%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .product .popup-card .info h2{
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .product .popup-card .info h2 span{
    font-size: 10px;
  }

  .product .popup-card .info p{
    margin: 5px;
    font-size: 13px;
  }

  .product .popup-card .info .price{
    margin: 5px;
    font-size: 30px;
  }

  .product .popup-card .info .add-cart-btn{
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .product .popup-card .info .add-wish{
    font-size: 14px;
  }

  .product .popup-card .close-btn{
    z-index: 4;

  }
  
  .product .popup-card .product-img{
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 776px){
  #body {
    height: 2300px;
  }

  .filters {
    width: 100%;
    margin-top: 20%;
    font-size: 200%;
  }

  .product .popup-card{
    flex-direction: column;
    margin-left: 10%;
    height: auto;
  }
}

@media (max-width: 368px){

  .filters {
    width: 100%;
    margin-top: 25%;
    font-size: 150%;
  }

  .containerProduct {
    margin-left: 15px;
  }

  .product .popup-card{
    width: 250px;
    height: 450px;
  }
}

@media (max-width: 310px){

  .filters {
    width: 100%;
    margin-top: 30%;
    font-size: 125%;
  }

  .containerProduct {
    margin-left: 22px;
  }

  .product .popup-card{
    width: 150px;
    height: 350px;
  }
}

#coffeepoints img{
  width: 60px;
  height: 60px;
  float: right;
}

#coffeepointsvalue{
  float: right;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}